*{
  margin: 0;
  padding: 0;
}
body{
  background-image: url(../back.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100vh;
}
.menu{
  background-color: #444444;
  height: 60px;
  margin-top: 40px;
}
.menu ul{
  float: left;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 50;
}
.menu ul li{
  display: inline-block;
}
.menu a{
  color: #ffffff;
  display: inline-block;
  line-height: 40px;
  text-decoration: none;
  padding: 10px 15px;
  text-transform: uppercase;
  margin-left: 40px;
}
input[type="text"]{
  margin-top: 7px;
  padding: 12px 20px 14px 42px;
  border-radius: 20px;
  margin-left: 40px;
  outline: none;
  width: 160px;
  transition: width 0.3s ease-in-out;
}
input[type="text"]:focus{
  width: 320px;
}
